<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">

        <!--
            security key issue on backend html         
            http://localhost/magento/admin/unit2secret/Action/index/secret/1        

            
            http://localhost/magento/admin/unit2secret/Action/helloworld
        -->

        <route id="unit2secret" frontName="unit2secret">
            <module name="Unit2_Secret" before="Magento_Backend" />
        </route>
    </router>
</config>